Hello World. A custom component says <app-hello></app-hello>


<input type="text" [(ngModel)]="title">

<p>{{title}}</p>

<table>
	<tr>
		<td>S.No</td>
		<td>Name</td>
		<td>Status</td>
	</tr>
	<tr *ngFor="let record of records; let i = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first: firstRecord, last: lastRecord}">
		<td>{{i}}</td>
		<td>{{record.name}}</td>
		<td>{{record.online}}</td>
	</tr>
</table>

